<div class="page-header">
  <h1>About {{company.alias}}. <small>A Global Leader.</small> </h1>
</div>

<section>

<p><strong>{{company.name}}</strong> is a global leader in consulting, technology, and outsourcing and next-generation services. We enable clients in more than 50 countries to outperform the competition and stay ahead of the innovation curve. We are helping enterprises renew themselves while also creating new avenues to generate value. We provide enterprises with strategic insights on what lies ahead. We help enterprises transform and thrive in a changing world through strategic consulting, operational leadership, and the co-creation of breakthrough solutions, including those in mobility, sustainability, big data, and cloud computing.</p>

<p>We started with just nine engineers and with just US$250. From the beginning, the company was founded on the principle of building and implementing great ideas that drive progress for clients and enhance lives through enterprise solutions. For over a  decade, we have been a company focused on bringing to life great ideas and enterprise solutions that drive progress for our clients.</p>

<p>We recognize the importance of nurturing relationships that reflect our culture of unwavering ethics and mutual respect. It’ll come as no surprise, then, that 97.6 percent of our revenues come from existing clients.</p>

<p>At {{company.alias}}, we believe our responsibilities extend beyond business. That is why we established the {{company.alias}} Foundation – to provide assistance to some of the more socially and economically depressed sectors of the communities in which we work. And that is why we behave ethically and honestly in all our interactions – with our clients, our partners and our employees.</p>

<h3>Vision</h3>
<p>‘We will be a globally respected corporation.’</p>

<h3>Mission</h3>
<p>‘Strategic partnerships for building tomorrow’s enterprise.’</p>
</section>

<div ui-view="sidebar"></div>