<div class="page-header">
  <h1>Services. <small>Mobility, Cloud, Data Analytics, Testing, Consulting...</small></h1>
</div>
<section>
<p>
There is never a shortage of innovation happening at {{company.name}}. We have become the trusted partners of many start-ups by transforming revolutionary ideas into tangible products. If you have an idea in the making, allow our proven innovation process to make it a reality.</p>
 
<p>Continuous innovation and accelerated releases set organizations apart in today’s competitive market. {{company.name}} effectively manages the three variables of Innovation – scope, time & resources – to ensure a successful product release, allowing you remain focused on your business objectives. With extensive experience in cloud and mobile development as well as user experience and security, our teams will add value throughout the process – from wireframe to development, prototype, develop & test, and to ongoing application maintenance.</p>

<ul class="col-md-3">
<li>Knowledge-based management and evolution of landscapes</li><li>
Design Thinking and design-led initiatives</li><li>
Platforms and Platform as a Service</li><li>
Consulting Services</li>
</ul>

<ul class="col-md-3"><li>
Strategy and Architecture</li><li>
Business Transformation</li><li>
Enterprise Processes</li><li>
Enterprise Applications</li><li>
Digital Transformation</li><li>
Insights and Analytics</li><li>
Change and Learning</li><li>
Business Services</li>
</ul>

<ul class="col-md-3"><li>Business Applications</li><li>
Data Analytics</li><li>
Digital</li><li>
Oracle</li><li>
SAP</li><li>
Technology Services</li>
<li>Application Management</li><li>
Cloud, Infrastructure and Security</li><li>
Engineering Services</li><li>
Enterprise Mobility</li><li>
Internet of Things (IoT)</li><li>
Testing</li><li>
Outsourcing Services</li>
</ul>

<ul  class="col-md-3"><li>Application Outsourcing</li><li>
Business Process Outsourcing</li><li>
Customer Service</li><li>
Finance & Accounting</li><li>
Human Resources</li><li>
Sourcing & Procurement</li>
</ul>
</section>

<div ui-view="sidebar"></div>