<div class="page-header">
  <h1>Join SSS. Make an impact.</h1>
</div>

<section>
From helping transform healthcare to improving the retail shopping experience, it's what SSS do. Our work and our people can be found in all sorts of interesting places. Mathematicians, coders, and web designers contribute to creativity in the kitchen (Watson!), rerouting traffic jams, even designing the next generation fan experience in sports stadiums around the world. It's the kind of thing we've been doing for more than 5 years.
Hitachi. Microsoft. Alert Enterprise. Vertafore, Inc. Hootsuite. Box. These are just a few of the global partners who work with SSS to develop powerful mobile apps and help enterprises make smarter decisions with data analytics and cloud technology.
Join us and be part of a diverse and global team of thinkers and doers – people who want to make an impact, cultivate their expertise and collaborate with some of the world’s top business and technology professionals.

</section>